/* ATOM - Advanced Transparent Object Manager
 * Copyright © Vienna, Austria 2014 by FH Campus Wien 
 * Some rights reserved. See COPYING, AUTHORS.
 */
 
@sprite 
.tabViewCornerInactive {
	cursor: pointer;
	gwt-image: "tabViewCornerInactive";
}

@sprite 
.tabViewCornerActive {
	cursor: pointer;
	gwt-image: "tabViewCornerActive";
}
