<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<!-- ================================================================== -->
	<!-- ======================= GWT Upload library ======================= -->
	<!-- ================================================================== -->
	<context-param>
		<!-- max size of the upload request -->
		<param-name>maxSize</param-name>
		<param-value>3145728</param-value>
	</context-param>
	<context-param>
		<!-- Useful in development mode to slow down the uploads in fast networks. 
			Put the number of milliseconds to sleep in each block received in the server. 
			false or 0, means don't use slow uploads -->
		<param-name>slowUploads</param-name>
		<param-value>200</param-value>
	</context-param>

	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<!-- This is the default servlet, it puts files in session -->
		<servlet-class>gwtupload.server.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>*.gupld</url-pattern>
	</servlet-mapping>
	<!-- ================================================================== -->
	<!-- ================================================================== -->
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>atomServlet</servlet-name>
		<servlet-class>at.ac.fhcampuswien.atom.server.AtomServiceImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>exportServlet</servlet-name>
		<servlet-class>at.ac.fhcampuswien.atom.server.DownloadExportServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>importServlet</servlet-name>
		<servlet-class>at.ac.fhcampuswien.atom.server.UploadImportServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
		<servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class>
		<!-- symbolMaps param provides for stack trace deobfuscation -->
		<init-param>
			<param-name>symbolMaps</param-name>
			<!-- This value assumes a GWT compile with '-deploy war/WEB-INF/deploy/' -->
			<param-value>WEB-INF/deploy/ATOM/symbolMaps/</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>atomServlet</servlet-name>
		<url-pattern>/app/rpc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>exportServlet</servlet-name>
		<url-pattern>/app/export</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>importServlet</servlet-name>
		<url-pattern>/app/import</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gwt-log-remote-logger-servlet</servlet-name>
		<url-pattern>/app/gwt-log</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- Auto Redirect from http to https -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Protected Context</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<!-- auth-constraint goes here if you requre authentication -->
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

</web-app>
