<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.google.gdt.eclipse.designer.gwtLaunchConfigurationType">
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrBlackList" value=""/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrDirGen" value=""/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrDirOut" value="/home/kaefert/Development/workspace_GWT/atom/atom-server/target/ATOM"/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrLogLevel" value="WARN"/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrModule" value="at.ac.fhcampuswien.atom.App_dev"/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrModuleHtml" value="blank.html"/>
<booleanAttribute key="com.google.gdt.eclipse.designer.launchAttrNoServer" value="true"/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrParameters" value=""/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrPort" value="8443"/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrStyle" value="OBFUSCATED"/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrURL" value="https://127.0.0.1:8443/"/>
<stringAttribute key="com.google.gdt.eclipse.designer.launchAttrWhiteList" value="127.0.0.1"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/atom-client"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="atom-client"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx256m"/>
</launchConfiguration>
